body {
    background-color: papayawhip;
    margin: 0%;
}
#capa{
    background: url('arvore.jpeg');
    height: 90%;
    text-align: center;
    padding-top: 20px;
    
}
#capa2{
    background-color: darkgreen;
    padding: 15px;
    display: flex;
}
#mapa{
    width: 150px;
    margin-right: 30px;
}
h1{
    padding-top: 2%;
    font-size: 60px;
    color: papayawhip;
    

p{font-size: 40px;}
h2{font-size: 30px;
padding-top: 2%;
color: darkgreen}

div{font-size: 18px;
padding-top: 1%;}

p{font-size: 18px;
padding-top: 1% ;}

h3{font-size: 30px;
padding-top: 2%;
color: darkgreen;}

p{font-size: 18px;
padding-top: 1px;}



 